#resultadoCriptografia {
    display: none;
}

#resultadoDescriptografia {
    display: none;
}

#divResultados {
    display: none;
    margin-top: 100px;
}

body {
    background-color: beige !important;
}